.kiro/
.vscode/
.DS_Store
images/.DS_Store
images/50.png
images/51.png
images/52.png
images/53.png
images/54.png
images/55.png
images/56.png
images/57.png
images/58.png
images/59.png
images/60.png
images/61.png
images/62.png
images/63.png
images/64.png
images/65.png